html,body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:"Quicksand", sans-serif;

}

#container_anim{
    position:relative;
    width:100%;
    height:70%;
}

#key{
    position:absolute;
    top:77%;
    left:-33%;
}

#text{
  font-size:3rem;
  position:absolute;
  top:45%;
  width:100%;
  text-align:center;
}
#text2{
  font-size:3rem;
  position:absolute;
  top:53%;
  width:100%;
  text-align:center;
}
